.searchBox {
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
}

.searchInput {
    padding: 4px 7px;
    border: 1px solid var(--primary-1);
    border-right: none;
    height: 100%;
    outline: none !important;
    border-radius: 3px 0 0 3px;
}

.searchBtn {
    height: 100%;
    width: 40px;
    border: none !important;
    outline: none !important;
    border-radius: 0 3px 3px 0;
    background-color: var(--primary-1);
    color: var(--white);
    transition: all ease-in .1s;
}

.searchBtn:hover {
    transition: ease-out .1s;
    background-color: var(--secondary);
}